.cart-container{
  padding: 5%;

}

.cart-side{
  padding-left: 5rem;

}

.cart-side > .blue, .green {

}

.empty-cart{
  align-self: center;
}

.form-group > .col-md-10 > label{
  font-family: "IBM Plex Sans";
font-style: normal;
font-weight: 300;
}
