
<!-- Controller stuff -->
$video->videoFile = $this->uploadMedia($request, 'videoFile');

$video->name = $request->name;
$video->price = $request->price;
$video->user_id = $request->user_id;

<!-- form start -->
<form role="form">
  <div class="card-body">

    <div class="form-group">
      <label for="exampleInputFile">File input</label>
      <div class="input-group">
        <div class="custom-file">
          <input type="file" class="custom-file-input" id="exampleInputFile">
          <label class="custom-file-label" for="exampleInputFile">Choose file</label>
        </div>
        <div class="input-group-append">
          <span class="input-group-text" id="">Upload</span>
        </div>
      </div>
    </div>
    <!-- text area -->
    <div class="form-group">
      <label>Description</label>
      <textarea class="form-control" rows="3" placeholder="Enter ..."></textarea>
    </div>
    <!-- text KEYWORDS -->
    <div class="form-group">
      <label>Keywords</label>
      <input type="text" class="form-control" placeholder="Enter ...">
    </div>
    <!-- price  -->
    <label>Price</label>

    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">$</span>
      </div>
      <input type="number" class="form-control">
      <div class="input-group-append">
        <span class="input-group-text">.00</span>
      </div>
    </div>
    <!-- check box -->
    <div class="form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
  </div>
  <!-- /.card-body -->

  <div class="card-footer">
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>
